body {
    font-family: Georgia, serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fffaf0; /* Floral White */
}
h1, h2 {
    color: #dd7220f3; /* Sunset Orange */
}
p {
    color: #2d3748;
    line-height: 1.8;
    font-size: 20px;
}
.highlight {
    background-color: #feebc8;
    padding: 17px;
    border-radius: 5px;
    border: 1px dashed #dd6b20;
}